<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StudentMapper">

    <resultMap id="StudentMap" type="Student">
        <id property="studentId" column="student_id" jdbcType="INTEGER"/>
        <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllStudents" resultMap="StudentMap">
            <![CDATA[
                select student_id,student_name from student;
            ]]>
    </select>
    
    <insert id="insertStudent" parameterType="Student" keyProperty="studentId" useGeneratedKeys="true">
        insert into student(student_id, student_name)
        values(#{studentId, jdbcType=INTEGER}, #{studentName, jdbcType=VARCHAR})
    </insert>

    <insert id="batchInsert" useGeneratedKeys="true" parameterType="java.util.List">
        <selectKey resultType="int" keyProperty="studentId" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into student(student_id, student_name) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.studentId, jdbcType=INTEGER}, #{item.studentName, jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>